name: Build

on:
  push:
  workflow_dispatch:

jobs:
  call-windows-build:
    name: Windows Build
    uses: ./.github/workflows/win-build.yml
    
  call-linux-build:
    name: Linux Build
    uses: ./.github/workflows/linux-build.yml
    
  call-windows-deploy:
    needs: call-windows-build
    if: github.ref == 'refs/heads/master' || github.event_name == 'workflow_dispatch'
    name: Windows Deploy
    uses: ./.github/workflows/win-deploy.yml